*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: #eee;
}

body{
  width: 100%;
  height: 100%;
  background: url("images/portfolioBg.jpeg") no-repeat center fixed;
  background-size: cover;
  color: white;
}

section{
  padding: 6rem 0;
}

a{
  text-decoration: none;
  color: #eee;
}

p{
  font-size: 1.8rem;
  font-weight: 300;
}

img{
  width: 100%;
}

.container{
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.sectionHeading{
  text-align: center;
  margin-bottom: 10rem;
}

.sectionHeading h1{
  font-size: 3.5rem;
  color: rgba(255, 255, 255, .3);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}

.sectionHeading h6{
  font-size: 1.6rem;
  font-weight: 300;
}

.sectionHeading h1::before
.sectionHeading h1::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}

.sectionHeading h1 ::before{
  width: 10rem;
  height: 3px;
  border-radius: .8rem;
}

.sectionHeading h1 ::after{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
}

.has-margin-right{
  margin-right: 5rem;
}

header{
  width: 100%;
  height: 100vh;
}

.navBar{
  width: 100%;
  height: 100vh;
  top: -100vh;
  z-index: 50;
  position: fixed;
  background-color: #16162d;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.navList{
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li{
  margin: 0 2rem;
}

.navLink{
  font-size: 5rem;
  padding: 1rem;
  font-family: 'The Historia Demo', sans-serif;
}

.navLink:hover, 
.navLink:focus{
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navBar.open{
  top: 0;
  border-radius: initial;
}

.menuTogler{
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

.menuTogler.open{
  transform: rotate(-450deg);
}

.bar{
  background: linear-gradient(to right, #ffe838, #fd57bf);
  width: 100%;
  height: 4px;
  border-radius: .8rem;
}

.bar.half{
  width: 50%;
}

.bar.start{
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open.bar.start{
  transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open.bar.end{
  transform: rotate(-450deg) translateX(-.8rem);
}

.landingText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landingText h1{
  font-size: 13rem;
  font-family: fantasy;
  color: goldenrod;
}

.landingText h6{
  font-size: 4rem;
}

.about .container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutHeading h1{
  font-size: 10rem;
  opacity: .3;
}

.aboutHeading h6{
  font-size: 2rem;
  font-weight: 300;
}

.profileImage{
  flex: 1;
  margin-right: 5rem;
}

.aboutDetails{
  flex: 1;
}

.socialMedia{
  margin-top: 5rem;
}

.socialMedia i{
  font-size: 5rem;
  transition: color 650ms;
}

.fa-instagram :hover{
  color: deeppink;
}

.fa-facbook :hover{
  color: deeppink;
}

.fa-linkedin :hover{
  color: deeppink;
}

.mySkills{
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}

.skill{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.skill h1{
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
}

.iconContainer{
  width: 10rem;
  height: 10rem;
  margin-bottom: 2rem;
  display: flex;
  border: 2px solid white;
  transform: rotate(45deg);
}

.iconContainer i{
  margin: auto;
  transform: rotate(-45deg);
}

.portfolioItem{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.portfolioItem:last-child{
  margin-bottom: 0;
}

.profileImage{
  flex: 1;
  width: 50rem;
}

.portfolioDescription{
  /* flex: 1; */

}

.portfolioDescription h1{
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.portfolioDescription h6{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}

.portfolioDescription .cta{
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #3883ff;
  transition: color 650ms;
}

.portfolioDescription .cta:hover{
  color: #2f67cd;
}

.contact{
  background-color: #221e3f;
}

form{
  width: 70%;
  margin: 0 auto;
}

form label{
  font-size: 1.5rem;
}

input,
textarea{
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  border: none;
  outline-color: #fd57bf;
}

input[type="submit"]{
  width: initial;
  color: #eee;
  background-color: goldenrod;
  padding: 1rem 2rem;
  border-radius: .8rem;
  cursor: pointer;
  transition: background-color 650ms;
}

.copyRight{
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  background-color: #16162d;
  position: relative;
}

.up{
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
}

.up i{
  color: #16162d;
  font-size: 2rem;
  margin: auto;
}

.copyRight p{
  font-size: 1.4rem;
}

@keyframes pulse {
  0%{
      box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
  }
  70%{
    box-shadow: 0 0 0 0 2rem rgba(253, 87, 191, 0);
  }
  100%{
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
}

