*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: #eee;
}

body{
  width: 100%;
  height: 100%;
  background: url("images/portfolioBg.jpeg") no-repeat center fixed;
  background-size: cover;
}

a{
  text-decoration: none;
  color: #eee;
}

p{
  font-size: 1.8rem;
  font-weight: 300;
}

img{
  width: 100%;
}

header{
  width: 100%;
  height: 100vh;
}

.navBar{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #16162d;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.navList{
  list-style: none;
}