*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: #eee;
}

body{
  width: 100%;
  height: 100%;
  background: url("images/portfolioBg.jpeg") no-repeat center fixed;
  background-size: cover;
}

a{
  text-decoration: none;
  color: #eee;
}

p{
  font-size: 1.8rem;
  font-weight: 300;
}

img{
  width: 100%;
}

header{
  
}